@import "../../../styles/styles.sass";

.button {
  background-color: $customOrange;
  padding: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 30px;
  font-weight: bold;
  color: white;
}

.button:hover {
  background-color: $customBlue;
}
